header {
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 1rem 4px 12px;
  position: sticky;
  top: 0;
  z-index: 100;
}
